<html>
<head>
<title>Blizzard's Page</title>
</head>
<h1><font size="7"><p style="color:red">Blizzard's About Page</p></font></h1>
<font size="7"><p style="color:red">Starring Dalia and Guest Host Wyatt</p></font>
<%= link_to 'Home', root_path %>

</body>
</html>
