<html>
<head>
<title>Blizzard's Page</title>
</head>
<%= image_tag 'slide1.jpg' %>
<h1><font size="7"><p style="color:red">Blizzard's Home Page</p></font></h1>
<font size="7"><p style="color:red">Starring Dalia and Guest Host Wyatt</p></font>
<%= link_to 'About', about_path %>
</body>
</html>
